.ocasi-footer {
  background-color: #f8f8f8;
  padding: 20px 5%;
  font-size: 14px;
  color: #666;
  margin-top: 20px;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.ocasi-footer a {
  color: #666;
  text-decoration: none;
}

.ocasi-footer a:hover {
  color: #333;
}

.ocasi-logo,
.ontario-logo {
  flex-basis: 45%;
  text-align: center;
  margin: 10px 0;
}

.ocasi-logo img,
.ontario-logo img {
  max-width: 150px;
  height: auto;
}

.footer-content {
  flex-grow: 1;
  text-align: center;
  padding: 0 20px;
  flex-basis: 100%;
  order: -1;
}

@media screen and (max-width: 600px) {
  .ocasi-footer {
    flex-direction: column;
    align-items: center;
  }

  .ocasi-logo,
  .ontario-logo {
    flex-basis: 100%;
    margin: 10px 0;
  }
}
